# Rust related
/target
/tls

# Rust testing related
cargo_profile/

# Documentation
protodoc/graphanalytics.html
protodoc/graphanalytics.pdf
protodoc/graphanalytics.html-e
protodoc/setup.html

# IDE related
.idea/

# macOS related
**/.DS_Store
